@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center w-12 h-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-discord-700 text-gray-500 hover:bg-green-800 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .header-container{
    @apply flex flex-1
  }

  .main-container{
    @apply flex h-screen
  }

  .sideNav{
    @apply flex top-0 left-0 w-16 m-0
    flex-col
    bg-blue-custom-900 text-white shadow-lg z-50;
  }

  .topBar{
    @apply w-screen h-6 flex-row
    bg-blue-custom-900 shadow-lg z-50;
  }

  .content-container{
    @apply h-fit flex-1 rounded-xl px-5 pb-5 pt-3 mb-3 mr-3 bg-gray-custom-100
  }

  .main-container-header{
    @apply flex border-solid pb-1 pl-1 pr-1 mb-6
  }

  .main-container-content{
    @apply border-solid border-2
  }

  .cash-display{
    @apply flex flex-1 justify-center items-center p-2 rounded-xl bg-white shadow-lg mx-2
    
  }

  .expense-column{
    @apply flex flex-1 items-center flex-col p-2 rounded-xl bg-white shadow-lg mx-2 h-96 mb-5

  }

  .cash-display p{
    @apply text-sm font-bold
  }

  div.modal-field{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    align-items: center;
  }

  div.modal-field label{
    text-align: left;
  }

  div.modal-field label{
    @apply block text-lg font-medium text-gray-900
  }

  div.modal-field input{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
  }

  div.modal-field label:after{
    content: ":";
  }


  .expense-column .expense-name::after{
    content: ":";
  } 

  .expense-column .expense-value::after{
    content: " ";
  } 
  .expense-column span{
    @apply max-h-10 overflow-hidden truncate
  } 

  .card-container{
    @apply flex flex-col border-solid pb-1 pl-1 pr-1 md:flex-row h-full
  }
}